
body{
	font-family: 'Courier New', Courier, monospace;
	font-weight: bold;
	margin: 20px;
}
.active-tab{
	display: block;
	visibility: visible;
}

.default-tab{
	display: block;
	visibility: visible;
}

.tab button {
	background-color: inherit;
	font-family: inherit;
	font-weight: inherit;
	font-size: inherit;
	float: right;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	transition: 0.3s;
  }

.tab-content {
	display: none;
	padding: 6px 12px;
  }

#limit-area {
	max-width: 50%;
}

p {
	margin:5px
}

.vertical-container{
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.horizontal-container{
	display: flex;
	flex-direction: row;
	gap: 10px;
}

#text-input{
	height: 30vh;
	width: auto;
}
.red{
	color: red;
  }



